[submodule "project_template_ui"]
	path = project_template_ui
	url = git@github.com:ecs-graphstar/project_template_ui.git
[submodule "tradewinds"]
	path = tradewinds
	url = git@github.com:ecs-graphstar/tradewinds.git
[submodule "deps/zstd"]
	path = deps/zstd
	url = https://github.com/facebook/zstd.git
